<h1>Welcome to <span style="color: #191970">Blue-Magpie Acebook!</span></h1>
<h3>Log In</h3>

<%= form_tag '/login', local: true do %>
Email: <%= text_field_tag :email %><br>
Password: <%= password_field_tag :password %><br>
<%= submit_tag "Log In"  %>
<% end %>


<%= link_to "Sign up!", new_user_url %>

