<h2>Hi <%= current_user.name %></h2>

<ul id="post_list">
<% @posts.reverse_each do |post| %>
<li>
  <%= link_to post.message, post %>
  <p><%= post.likes.count %> <%= (post.likes.count) == 1 ? "Like" : "Likes" %></p>
</li>
<% end %>
</ul>

<%= link_to new_post_path do %>
  New post
<% end %>
