<h3> User <%= @post.user_id %>: </h3>
  <h1>Message: <%= @post.message %> </h1>
<%= button_to "Like", post_likes_path(@post), method: :post %>
<p><%= @post.likes.count %> <%= (@post.likes.count) == 1 ? "Like" : "Likes" %></p>

<h2>Comments</h2>
<% @post.comments.each do |comment| %>
  <p>
    User <%= comment.user_id %>: <%= comment.comment_body %>
  </p>
<% end %>

<%= form_with model: [ @post, @post.comments.build ], local: true do
  |form|  %>
  <p>
    <%= form.label :add_your_comments %><br>
    <%= form.text_area :comment_body %>

    <%= form.hidden_field :user_id, value: session[:current_user_id] %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>

<%= link_to posts_url do %>
    Back to Posts
<% end %>

