<header>
<div class="container">
  <nav>
    <ul>
      <% if !logged_in? %>
      <li><%= link_to "Log in", login_url%></li>
      <li><%= link_to "Sign up", new_user_url%></li>
      <% end %>
      <% if logged_in? %>
      <li><h3><%= current_user.name %></h3></li>
      <li><%= link_to "Posts", posts_url%></li>
      <li><%= link_to "Profile", current_user %></li>
      <li><%= link_to "Log out", logout_path, method: :delete %></li>
      <% end %>
    </ul>
  </nav>
</div>
</header>